

.MMM-M .p {
	
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-shadow: 3px 3px 0px rgba(126, 136, 106, 0.45);
   
}
.MMM-M .imgDes {
  width: 150px;
  height: 250px;
  margin-top: 10px;
  overflow: hidden;
  margin: auto;
 
}
.MMM-M .header {
	
	text-align: center;
    color: #4d79ff;
}
